p {
  font-size: 1.1em;
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigWhiteButton {
  height: 150px;
  width: 500px;
  background-color: transparent;
  padding-top: 30px;
  border-color: white;
  border-width: 5px;
  font-size: 3em;
}

.bigWhiteButton:hover {
  background-color: white;
  color: #282c34;
}

#return {
  margin-top: 15px;
  height: 100px;
  padding-top: 15px;

  font-size: 2.5em;
}

#update {
  height: 150px;
  width: 100%;
  padding-top: 0px;
}

#update:hover {
  background-color: white;
  color: #282c34;
}


.playerPanel {
  text-align: left;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.partyPage {
  padding: 24px 24px 36px 24px;
  width: 100%;
}

.mobileTopPanel {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 10px;
}

@media (min-width: 768px){
  .partyPage {
    min-height:700px;
    height: 100vh;
    padding: 48px 40px 36px 40px;
  }
  .playerPanel {
    height: 100%;
  }

  .rightPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 15px;
    text-align: left;
  }

  .membersPanel {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .hostPanel {
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }
}

.playlistOptionsPage {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}

.playlistOptionsPage:before, .playlistOptionsPage:after {
  content: '';
display: block;
height: 24px;
-webkit-box-flex: 1;
box-flex: 1;
-webkit-flex-grow: 1;
flex-grow: 1;
} 

.noPaddingContainer{
  margin: 0;
  padding: 0;
}

.formRow{
  display: flex;
}

.formCol{
  width: 0;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}


.formContent {
  width: 100%;
  padding: 24px 24px 36px 24px;
}

@media (min-width: 768px){
  .formContent {
  max-width: 600px;
  min-width: 600px;

  padding: 48px 40px 36px 40px;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  border-width: 5px;
}
.formCol{
  -webkit-box-flex: 1;
box-flex: 1;
-webkit-flex-grow: 1;
flex-grow: 1;
}}



#copyField {
  border-color: rgba(255, 255, 255, 0.774);
  border-width: 2px;
  border-right-style: hidden;
  background-color: #382149;
  color: rgba(255, 255, 255, 0.918);
}

#copyButton, #shareButton{
  width: 5.5em;
  margin-top: 0px;
  padding: 4px;
  border-width: 2px;
  border-color: white;
  font-size: 1em;
}

#copyLabel {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.795);
}

html,
body {
  background-color: #282c34;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  background-color: transparent;
  color: white;
  font-size: 4.5em;
  font-weight: normal;
}

h2 {
  font-size: 2.2rem;
  background-color: transparent;
  color: white;
}

h3{
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input {
  background-color: transparent;
  color: white;
  border-width: 0 0 3px 0;
  padding-left: 10px;
  caret-color: white;
  font-size: 1.5em;
  text-align: center;
}

input:focus {
  outline-width: 0;
}

input.joinLink {
  background-color: transparent;
  color: white;
  border-width: 0 0 3px 0;
  padding-left: 10px;
  caret-color: white;
  font-size: 1.27em;
  text-align: center;
  width: 300px;
}

.cssbutton {
  width: 150px;
  background-color: transparent;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-width: 4px;
  border-color: white;
  font-size: 2em;
}

.cssbutton:hover {
  color: #282c34;
  background-color: white;
  border-color: white;
}

.app-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 0;
}

.square-container {
  min-height: 100vh;
  background-color: #171941;
  position: relative;
  overflow: hidden;
}

.innerSquareContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1000px;
}

.content-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: block;
  /* margin-right: auto;
  margin-left: auto; */
}

@keyframes move-left-right {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

.squares {
  animation: move-left-right 1s infinite;
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
}
.squares.square1 {
  animation: move-left-right 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}
.squares.square2 {
  animation: move-left-right 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.4;
  right: -5%;
  top: -12%;
}
.squares.square3 {
  animation: move-left-right 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0%;
}
.squares.square4 {
  animation: move-left-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}
.squares.square5 {
  animation: move-left-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}
.squares.square6 {
  animation: move-left-right 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}
.squares.square7 {
  animation: move-left-right 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.1;
}


.panel {
  height: 270px;
  width: 450px;
  border-width: 5px;
  border-color: white;
  text-align: center;
  border: solid;
  display: inline-block;
  margin: 20px;
  padding: 32px 30px 0px 30px;
  vertical-align: middle;
}

.createButton {
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  /* height: 35px; */
  font-size: 1.5em;
}

.createButton:hover {
  background-color: white;
  color: #282c34;
}

img.stepPicture {
  height: 100px;
  width: 100px;
  margin-bottom: 25px;
}

.albumArt {
  height: 200px;
  width: 200px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.albumPic {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.albumInfo {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  line-height: 100%;
  margin: 0;
  padding: 10% 5% 5% 5%;
  background-color: transparent;
  color: transparent;
  transition: background-color 0.2s, color 0.2s;
}

.albumInfo:hover {
  background-color: #000000a4;
  color: white;
}

#footer {
  background-color: transparent;
  height: 10vh;
  width: 100vw;
  text-align: center;
}