.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#join {
  height: 150px;
  width: 500px;
  background-color: transparent;
  padding-top: 30px;
  border-color: white;
  border-width: 5px;
  font-size: 3em;
}

#join:hover {
  background-color: white;
  color: #282c34;
}

#create {
  display: block;
  color: white;
  padding-top: 270px;
}

html,
body {
  background-color: #282c34;
  text-align: center;
}

h1 {
  background-color: transparent;
  color: white;
  font-size: 3em;
}

input {
  background-color: transparent;
  color: white;
  border-width: 0 0 5px 0;
  padding-left: 10px;
  caret-color: white;
  font-size: 3em;
  text-align: center;
}

input:focus {
  outline-width: 0;
}

.cssbutton {
  width: 150px;
  background-color: transparent;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-width: 4px;
  border-color: white;
  font-size: 2em;
}

.cssbutton:hover {
  color: #282c34;
  background-color: white;
  border-color: white;
}
